body {
    background: #fff;
    font-family: Source Sans Pro,sans-serif;
    color: #656565;
    font-size: .875rem;
  }
  
  .hide {
    display: none;
  }
  
  .bg-gray {
     background-color: #f5f7fa;
  }
  
  .content-title {
    height: 50px;
    line-height: 30px;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  a:hover {
    text-decoration: none;
    color: #23b7e5;
  }
  