$color-bg-primary:  #f8d7da !default;
$color-bg-secondary: #e2e3e5 !default;

//modal background colors
$modal-bg-white-light: #f1f1f1 !default;

//modal border colors
$modal-bc-gray: #bababa;
$modal-bc-white-light: #eee;
$modal-bc-default: #7a98ab;
$modal-bc-info: #23b7e5;
$modal-bc-success: #27c24c;
$modal-bc-danger: #f05050;
$modal-bc-warning: #ff902b;

//modal colors
$modal-cl-white: #fff;
$modal-cl-danger: #ba2c26;
$modal-cl-success: #3c763d;
$modal-cl-warning: #8a6d3b;
$modal-cl-info: #31708f;
$modal-cl-default: #7a98ab;
